body {
    font-family: "Overpass Mono", monospace;
    color: #657786;
}

/* Mixins */

@mixin info {
    .info {
        padding: 30px 0 15px;

        h1 {
            font-size: 40px;
            font-weight: 700;
            color: #222529;
            position: relative;
            display: inline-block;

            &:after {
                content: "";
                position: absolute;
                left: 0;
                right: 65%;
                background: #222529;
                height: 6px;
                top: -10px;
            }
        }

        p {
            font-size: 24px;
            font-weight: 300;
            padding-top: 15px;
        }

        ul {
            &.skill {
                padding-top: 10px;
                padding-left: 0;

                li {
                    display: inline-block;
                    padding: 5px 10px;
                    margin: 5px 0;

                    $skills: ("ps": #2cc2f8, "ai": #f47900, "xd": #f32abd, "figma": #f76e5e, "sketchbook": #dd5636, "procreate": #da1852, "html": #eb6227, "css": #27a4da, "js": #ccbb43);

                    @each $skill,
                    $color in $skills {
                        &.#{$skill} {
                            color: $color;
                            border: 2px solid $color;
                        }
                    }
                }
            }
        }
    }
}

.profile-header {
    position: fixed;
    left: 0;
    right: 0;
    background: rgba(255, 255, 255, 0.75);
    color: #222529;
    z-index: 1;

    .logo {
        padding: 20px 0;
    }

    .menu {
        padding: 20px 0;
        text-align: right;

        ul {
            padding-left: 0;
            margin-bottom: 0;

            li {
                display: inline-block;
                padding: 0 20px;
                vertical-align: middle;
                cursor: pointer;

                &.header-text {
                    position: relative;
                    color: #657786;
                    &:after {
                        content: '';
                        position: absolute;
                        left: 0;
                        right: 0;
                        bottom: -12px;
                        margin: 0 auto;
                        width: 0;
                        height: 0;
                        border-radius: 50%;
                        background-color: #222529;
                        transition-property: all;
                        transition-duration: 0.35s;
                        transform-origin: center;
                    }
                    &.active {
                        color: #222529;
                        &:after {
                            width: 5px;
                            height: 5px;
                        }
                    }
                }

                &:hover {
                    opacity: 0.75;
                }

                a {
                    color: #222529;
                    text-decoration: none;
                }

                &.icon {
                    font-size: 24px;
                    padding-right: 0 !important;
                }
            }
        }
    }
}

.header-offset {
    height: 78px;
}

h1 {
    font-size: 40px;
    font-weight: 700;
    color: #222529;
}

.about-me {
    height: 100vh;
    display: flex;
    align-items: center;
    background: url('../images/developer.jpg');
    background-position-x: 0%;
    background-position-y: 0%;
    background-repeat: repeat;
    background-attachment: scroll;
    background-size: auto;
    background-attachment: fixed;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right bottom;

    .developer {
        img {
            height: calc(100vh - 70px);
            position: absolute;
            top: 78px;
            right: 0;
            z-index: -1;
        }
    }

    @include info
}

.portfolio-section {
    padding: 45px 0 0;
    background: #fafafa;

    h1 {
        display: inline-block;
    }

    @include info
}

.footer {
    padding: 65px 0;

    .logo {
        img {
            height: 70px;
        }
    }

    a {
        font-size: 20px;
    }

    ul {
        padding-left: 0;

        li {
            display: inline-block;
            padding: 15px !important;

            i {
                font-size: 36px;
            }
        }
    }
}

#gallery {
    padding-top: 40px;

    .container {
        padding: 0;
    }
}

#image-gallery {
    padding: 0;
}

.filter {
    // margin-bottom: 30px;
    position: sticky;
    top: 75px;
    min-height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fafafa;
    z-index: 1;
    span {
        cursor: pointer;
        font-size: 14px;
        text-transform: uppercase;
        padding: 5px  15px;
        opacity: 0.65;
        transition-property: all;
        transition-duration: 0.35s;
        position: relative;
        &:hover {
            opacity: 1;
        }
        &:before {
            content: '';
            position: absolute;
            bottom: -18px;
            left: 50%;
            right: 50%;
            margin: 0 auto;
            height: 4px;
            background-color: #222529;
            transition-property: all;
            transition-duration: 0.35s;
            transform-origin: center;
        }
        &.active {
            color: #222529;
            opacity: 1;
            &:before {
                left: 0;
                right: 0;
            }
        }
    }
}

.image {
    cursor: pointer;
    padding: 0;
    margin: 0;
    display: none;
    &.active {
        display: block;
    }

    .img-wrapper {
        position: relative;
        background-color: #fff;

        img {
            width: 100%;
        }

        .img-overlay {
            background: rgba(0, 0, 0, 0.7);
            width: 100%;
            height: 0;
            position: absolute;
            left: 0;
            bottom: 0;
            right: 0;
            display: -webkit-box;
            display: flex;
            -webkit-box-pack: center;
            justify-content: center;
            -webkit-box-align: center;
            align-items: center;
            flex-direction: column;
            color: #ffff;
            opacity: 0;
            transition-property: all;
            transition-duration: 0.35s;
            transform-origin: top;

            span {
                margin-top: 20px;
                font-size: 20px;
            }
        
            i {
                color: #fff;
                font-size: 2em;
            }
        }
        &:hover {
            .img-overlay {
                opacity: 1;
                height: 100%;
            }
        }
    }
}


#overlay {
    background: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    z-index: 999;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    img {
        margin: 0;
        width: 80%;
        height: auto;
        -o-object-fit: contain;
        object-fit: contain;
        padding: 5%;
    }
}

#nextButton {
    color: #fff;
    font-size: 2em;
    -webkit-transition: opacity 0.8s;
    transition: opacity 0.8s;

    &:hover {
        opacity: 0.7;
    }
}

#prevButton {
    color: #fff;
    font-size: 2em;
    -webkit-transition: opacity 0.8s;
    transition: opacity 0.8s;

    &:hover {
        opacity: 0.7;
    }
}

#exitButton {
    color: #fff;
    font-size: 2em;
    -webkit-transition: opacity 0.8s;
    transition: opacity 0.8s;
    position: absolute;
    top: 15px;
    right: 15px;

    &:hover {
        opacity: 0.7;
    }
}

@media screen and (min-width: 1200px) {
    #overlay {
        img {
            width: 50%;
        }
    }
}

@media screen and (min-width: 991px) {
    #gallery {
        padding: 0;
    }
}

@media screen and (min-width: 768px) {
    #overlay {
        img {
            width: 60%;
        }
    }

    #nextButton {
        font-size: 3em;
    }

    #prevButton {
        font-size: 3em;
    }

    #exitButton {
        font-size: 3em;
    }
}

@media only screen and (max-width: 768px) {
    .menu {
        text-align: center;
    }

    .profile-header {
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
        .logo {
            height: 85px;
        }
        .menu {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 85px;
            ul {
                margin-left: auto;
                li {
                    padding: 0 10px;
                }
            }
        }
    }

    #bottom-drawer {
        position: fixed;
        left: 0;
        right: 0;
        bottom: 0;
        display: flex !important;
        align-items: center;
        justify-content: center;
        text-align: center;
        padding: 30px 0;
        background-color: #fff;
        z-index: 1;
        transform: translateY(100%);
        transition-property: all;
        transition-duration: 0.35s;
        box-shadow: 0 0px 10px rgba(0, 0, 0, 0.2);
        &.active {
            transform: translateY(0);
            .drawer-icon {
                i {
                    transform: translateY(0) rotate(180deg);
                }
            }
        }
        .drawer-icon {
            cursor: pointer;
            position: absolute;
            top: -24px;
            background: #222529;
            width: 48px;
            height: 48px;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            i {
                color: #fff;
                font-weight: bold;
                transform: translateY(-10px);
            }
        }
        ul {
            padding-left: 0;
            li {
                cursor: pointer;
                padding: 10px 0;
                list-style: none;
                &:not(:first-child) {
                    padding-bottom: 0;
                }
                span {
                    transition-property: all;
                    transition-duration: 0.35s;
                }
                &.active {
                    span {
                        color: #222529;
                        font-weight: bold;
                        font-size: 20px;
                    }
                }
            }
        }
    }

    .filter {
        margin-bottom: 0;
        display: none;
        span {
            margin-bottom: 15px;
            display: inline-block;
            &:before {
                bottom: -5px;
            }
        }
    }

    .about-me {
        &::before {
            content: '';
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            background: rgba(255, 255, 255, 0.65);
            display: block;
            z-index: 0;
        }
    }

    .header-text {
        display: none !important;
    }
}