body {
    font-family: 'Overpass Mono', monospace;
    color: #657786;
}

.profile-header {
    background: #222529;
    color: #ffffff;
    -webkit-box-shadow: 0px 0px 5px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 0px 5px rgba(0,0,0,0.5);
    box-shadow: 0px 0px 5px rgba(0,0,0,0.5);
}

.logo {
    padding: 20px 0;
}

.icon {
    font-size: 24px;
    padding-right: 0 !important;
}

.menu {
    padding: 20px 0;
    text-align: right;
}

.menu ul li {
    display: inline-block;
    padding: 0 20px;
}

.menu ul li a {
    color: #ffffff;
    text-decoration: none;
}

.developer img {
    height: calc(100vh - 70px);
    position: absolute;
    right: 0;
    z-index: -1;
}

.profile-picture {

}

.about-me {
    height: calc(100vh - 70px);
}

.info {
    padding: 30px 0;
}

h1 {
    font-size: 40px;
    font-weight: 700;
    color: #222529;
}

.info h1 {
    position: relative;
}

.info h1:after {
    content: "";
    position: absolute;
    left: 0;
    right: 80%;
    background: #000;
    height: 6px;
    top: -10px;
}

.info p {
    font-size: 24px;
    font-weight: 300;
    padding-top: 15px;
}

ul.skill {
    padding-left: 0;
}

ul.skill li {
    display: inline-block;
    padding: 5px 10px;
}

.ps {
    color: #2cc2f8;
    border: 2px solid #2cc2f8;
}

.ai {
    color: #f47900;
    border: 2px solid #f47900;
}

.xd {
    color: #f32abd;
    border: 2px solid #f32abd;
}

.sketch {
    color: #f5a800;
    border: 2px solid #f5a800;
}

.html {
    color: #eb6227;
    border: 2px solid #eb6227;
}

.css {
    color: #27a4da;
    border: 2px solid #27a4da;
}

.js {
    color: #ccbb43;
    border: 2px solid #ccbb43;
}
