body {
  font-family: 'Source Sans Pro', sans-serif;
  color: #5a7189;
}

body.dark {
  background-color: #121e2a;
}

body.dark mark {
  color: #fff;
}

body.dark h1 {
  color: #fff;
}

body.dark .about-me .info h1 {
  color: #f5f5f7;
}

body.dark .about-me .info ul.skill li {
  border: 1px solid #f5f5f7;
  color: #f5f5f7;
}

body.dark #bottom-drawer .drawer-icon {
  background: #fff;
}

body.dark #bottom-drawer .drawer-icon i {
  color: #172231;
}

body.dark .profile-header {
  background-color: #121e2a !important;
}

body.dark .profile-header .logo {
  -webkit-filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(355deg) brightness(102%) contrast(101%);
          filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(355deg) brightness(102%) contrast(101%);
}

body.dark .profile-header .menu ul li.header-text {
  color: #5a7189;
}

body.dark .portfolio-section {
  background-color: #172231;
}

body.dark .portfolio-section .info h1 {
  color: #f5f5f7;
}

body.dark .filter {
  background-color: #172231;
}

body.dark .filter span {
  color: #5a7189;
}

body.dark .filter span.active {
  color: #f5f5f7;
}

body.dark .footer {
  background-color: #172231;
}

/* Mixins */
/* Styles */
mark {
  background-color: transparent;
  font-weight: 500;
}

a {
  color: #2997FF;
}

a:hover {
  color: #2997FF;
  opacity: 0.85;
}

svg:not(:root) {
  position: relative;
  overflow: visible;
}

.polyart polygon, .polyart polyline {
  display: none;
}

.triangleTwo {
  fill: #1c293a !important;
}

.triangleSmall {
  fill: #2f4766 !important;
}

.triangleOne,
.circleFour {
  fill: #fdbe00 !important;
}

.circleOne {
  stroke: #d83010 !important;
}

.circleTwo {
  stroke: #0170c3 !important;
}

.circleThree {
  stroke: #188e57 !important;
}

.embedded-img image {
  width: 100%;
  -webkit-transform: translate(15px, 70px);
          transform: translate(15px, 70px);
}

.profile-img img {
  width: 75%;
  margin-left: auto;
}

.artworkWrapper {
  display: none;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
}

@-webkit-keyframes rotate {
  0% {
    -webkit-transform: scale(0.05) rotateY(0deg);
            transform: scale(0.05) rotateY(0deg);
  }
  50% {
    -webkit-transform: scale(0.05) rotateY(180deg);
            transform: scale(0.05) rotateY(180deg);
  }
  100% {
    -webkit-transform: scale(0.05) rotateY(0deg);
            transform: scale(0.05) rotateY(0deg);
  }
}

@keyframes rotate {
  0% {
    -webkit-transform: scale(0.05) rotateY(0deg);
            transform: scale(0.05) rotateY(0deg);
  }
  50% {
    -webkit-transform: scale(0.05) rotateY(180deg);
            transform: scale(0.05) rotateY(180deg);
  }
  100% {
    -webkit-transform: scale(0.05) rotateY(0deg);
            transform: scale(0.05) rotateY(0deg);
  }
}

#preloader {
  position: fixed;
  z-index: 9;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: white;
}

#preloader.active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#preloader img {
  -webkit-animation: rotate 1s linear infinite;
          animation: rotate 1s linear infinite;
}

.profile-header {
  position: fixed;
  left: 0;
  right: 0;
  background: rgba(255, 255, 255, 0.75);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 44px;
  color: #222529;
  z-index: 1;
}

.profile-header .logo {
  position: relative;
}

.profile-header .logo img {
  -webkit-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.35s;
          transition-duration: 0.35s;
  cursor: pointer;
  width: 30px;
}

.profile-header .logo:hover {
  opacity: 0.85;
}

.profile-header .switch {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 1px solid #0071e3;
  border-radius: 15px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 2px 1px;
  margin-left: 10px;
  height: 24px;
  font-size: 12px;
}

.profile-header .switch span {
  cursor: pointer;
  padding: 2px 10px;
  height: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 15px;
  color: #0071e3;
  -webkit-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  -webkit-transition-timing-function: ease-in-out;
          transition-timing-function: ease-in-out;
}

.profile-header .switch span.active {
  pointer-events: none;
  background-color: #0071e3;
  color: #fff;
}

.profile-header .menu {
  display: none;
}

.profile-header .menu ul {
  margin-left: auto;
  margin-bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 44px;
}

.profile-header .menu ul li {
  display: inline-block;
  padding: 0 10px;
  vertical-align: middle;
  cursor: pointer;
}

.profile-header .menu ul li.header-text {
  position: relative;
  color: #000;
  opacity: 0.56;
  font-size: 13px;
}

.profile-header .menu ul li.header-text.active {
  opacity: 1;
}

.profile-header .menu ul li:hover {
  opacity: 0.75;
}

.profile-header .menu ul li a {
  color: #222529;
  text-decoration: none;
}

.profile-header .menu ul li.icon {
  font-size: 24px;
  padding-right: 0 !important;
}

.header-offset {
  height: 78px;
}

#bottom-drawer {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  padding: 30px 0;
  background-color: #fff;
  color: #172231;
  z-index: 1;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.35s;
          transition-duration: 0.35s;
  -webkit-box-shadow: 0 0px 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0px 10px rgba(0, 0, 0, 0.2);
}

#bottom-drawer.active {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

#bottom-drawer.active .drawer-icon i {
  -webkit-transform: translateY(0) rotate(180deg);
          transform: translateY(0) rotate(180deg);
}

#bottom-drawer .drawer-icon {
  cursor: pointer;
  position: absolute;
  top: -24px;
  background: #172231;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.25);
          box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.25);
}

#bottom-drawer .drawer-icon i {
  color: #fff;
  font-weight: bold;
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
}

#bottom-drawer ul {
  padding-left: 0;
}

#bottom-drawer ul li {
  cursor: pointer;
  padding: 10px 0;
  list-style: none;
}

#bottom-drawer ul li:not(:first-child) {
  padding-bottom: 0;
}

#bottom-drawer ul li span {
  -webkit-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.35s;
          transition-duration: 0.35s;
}

#bottom-drawer ul li.active span {
  font-weight: bold;
  font-size: 20px;
}

h1 {
  font-weight: 700;
  color: #000;
}

.about-me {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 45px 15px;
  text-align: center;
  overflow: hidden;
}

.about-me .d-flex-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.about-me .d-flex-center div[class*="col-"]:first-child {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

.about-me .info {
  padding: 30px 0 15px;
}

.about-me .info h1 {
  font-size: 40px;
  font-weight: 400;
  position: relative;
  display: inline-block;
  color: #172231;
}

.about-me .info h1 span {
  font-weight: 700;
  color: #fcbe00;
}

.about-me .info p {
  font-size: 24px;
  font-weight: 300;
  padding-top: 15px;
}

.about-me .info ul.skill {
  padding-top: 10px;
  padding-left: 0;
  text-align: left;
}

.about-me .info ul.skill li {
  display: inline-block;
  padding: 4px 16px;
  margin: 5px 2px 0 0;
  font-size: 13px;
}

.about-me .info ul.skill li.ps {
  color: #2cc2f8;
  border: 1px solid #2cc2f8;
}

.about-me .info ul.skill li.ai {
  color: #f47900;
  border: 1px solid #f47900;
}

.about-me .info ul.skill li.vc {
  color: #6b6cf0;
  border: 1px solid #6b6cf0;
}

.about-me .info ul.skill li.xd {
  color: #804670;
  border: 1px solid #804670;
}

.about-me .info ul.skill li.figma {
  color: #f76e5e;
  border: 1px solid #f76e5e;
}

.about-me .info ul.skill li.sketchbook {
  color: #dd5636;
  border: 1px solid #dd5636;
}

.about-me .info ul.skill li.procreate {
  color: #da1852;
  border: 1px solid #da1852;
}

.about-me .info ul.skill li.html {
  color: #eb6227;
  border: 1px solid #eb6227;
}

.about-me .info ul.skill li.css {
  color: #27a4da;
  border: 1px solid #27a4da;
}

.about-me .info ul.skill li.js {
  color: #ccbb43;
  border: 1px solid #ccbb43;
}

.about-me .info {
  position: relative;
}

.about-me .info h1 {
  position: initial;
  margin-top: 120px;
}

.about-me .info h1:before {
  background: url("../images/portrait-light.png");
  background-size: auto;
  display: block;
  position: absolute;
  background-size: cover;
  content: '';
  width: 100px;
  height: 100px;
  top: 30px;
  left: 0;
  right: 0;
  margin: 0 auto;
}

.portfolio-section {
  padding: 45px 15px 0;
  background: #f8f8f9;
}

.portfolio-section h1 {
  display: inline-block;
}

.portfolio-section .info {
  padding: 30px 0 15px;
}

.portfolio-section .info h1 {
  font-size: 40px;
  font-weight: 400;
  position: relative;
  display: inline-block;
  color: #172231;
}

.portfolio-section .info h1 span {
  font-weight: 700;
  color: #fcbe00;
}

.portfolio-section .info p {
  font-size: 24px;
  font-weight: 300;
  padding-top: 15px;
}

.portfolio-section .info ul.skill {
  padding-top: 10px;
  padding-left: 0;
  text-align: left;
}

.portfolio-section .info ul.skill li {
  display: inline-block;
  padding: 4px 16px;
  margin: 5px 2px 0 0;
  font-size: 13px;
}

.portfolio-section .info ul.skill li.ps {
  color: #2cc2f8;
  border: 1px solid #2cc2f8;
}

.portfolio-section .info ul.skill li.ai {
  color: #f47900;
  border: 1px solid #f47900;
}

.portfolio-section .info ul.skill li.vc {
  color: #6b6cf0;
  border: 1px solid #6b6cf0;
}

.portfolio-section .info ul.skill li.xd {
  color: #804670;
  border: 1px solid #804670;
}

.portfolio-section .info ul.skill li.figma {
  color: #f76e5e;
  border: 1px solid #f76e5e;
}

.portfolio-section .info ul.skill li.sketchbook {
  color: #dd5636;
  border: 1px solid #dd5636;
}

.portfolio-section .info ul.skill li.procreate {
  color: #da1852;
  border: 1px solid #da1852;
}

.portfolio-section .info ul.skill li.html {
  color: #eb6227;
  border: 1px solid #eb6227;
}

.portfolio-section .info ul.skill li.css {
  color: #27a4da;
  border: 1px solid #27a4da;
}

.portfolio-section .info ul.skill li.js {
  color: #ccbb43;
  border: 1px solid #ccbb43;
}

.filter {
  position: -webkit-sticky;
  position: sticky;
  top: 44px;
  min-height: 44px;
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #f5f5f7;
  z-index: 1;
}

.filter span {
  cursor: pointer;
  font-size: 13px;
  padding: 5px 15px;
  opacity: 0.65;
  -webkit-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.35s;
          transition-duration: 0.35s;
  position: relative;
  color: #000;
  opacity: 0.56;
}

.filter span:hover {
  opacity: 1;
}

.filter span.active {
  opacity: 1;
}

#gallery {
  padding-top: 40px;
}

#gallery .container {
  padding: 0;
}

#gallery #image-gallery {
  padding: 0;
  overflow: hidden;
  background-color: #f5f5f7;
}

#gallery #image-gallery .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
}

#gallery #image-gallery .row .image {
  cursor: pointer;
  padding: 0;
  margin: 0;
  -ms-flex-preferred-size: 0;
      flex-basis: 0;
  max-width: 0;
  -webkit-transition-property: opacity, -webkit-transform;
  transition-property: opacity, -webkit-transform;
  transition-property: transform, opacity;
  transition-property: transform, opacity, -webkit-transform;
  -webkit-transition-duration: 0.25s;
          transition-duration: 0.25s;
  -webkit-transform-origin: center;
          transform-origin: center;
  opacity: 0;
  -webkit-transform: scale(0);
          transform: scale(0);
}

#gallery #image-gallery .row .image.active {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  max-width: 100%;
  -webkit-transform: scale(1);
          transform: scale(1);
  opacity: 1;
}

#gallery #image-gallery .row .image .img-wrapper {
  position: relative;
  background-color: #fff;
}

#gallery #image-gallery .row .image .img-wrapper img {
  width: 100%;
}

#gallery #image-gallery .row .image .img-wrapper .img-overlay {
  background: rgba(0, 0, 0, 0.7);
  width: 100%;
  height: 0;
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
      justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
      align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #ffff;
  opacity: 0;
  -webkit-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.35s;
          transition-duration: 0.35s;
  -webkit-transform-origin: top;
          transform-origin: top;
}

#gallery #image-gallery .row .image .img-wrapper .img-overlay span {
  font-size: 18px;
  position: relative;
  margin-bottom: 15px;
  text-align: center;
}

#gallery #image-gallery .row .image .img-wrapper .img-overlay span:after {
  content: '';
  position: absolute;
  height: 1px;
  width: 30px;
  background: #fff;
  bottom: -10px;
  left: 0;
  right: 0;
  margin: 0 auto;
}

#gallery #image-gallery .row .image .img-wrapper .img-overlay i {
  color: #fff;
  font-size: 2em;
}

#gallery #image-gallery .row .image .img-wrapper:hover .img-overlay {
  opacity: 1;
  height: 100%;
}

.footer {
  padding: 65px 0;
}

.footer .logo img {
  height: 30px;
}

.footer a {
  font-size: 18px;
}

.footer ul {
  padding-left: 0;
}

.footer ul li {
  display: inline-block;
  padding: 15px !important;
}

.footer ul li i {
  font-size: 36px;
}

#overlay {
  background: #172231;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
      justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
      align-items: center;
  z-index: 999;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  visibility: hidden;
  -webkit-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.35s;
          transition-duration: 0.35s;
  -webkit-transform-origin: top;
          transform-origin: top;
}

#overlay.active {
  visibility: visible;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

#overlay .logo {
  cursor: pointer;
  position: absolute;
  left: 15px;
  top: 15px;
  padding: 0;
  width: 30px;
  height: 30px;
}

#overlay .logo:before {
  position: absolute;
  content: url("../images/logo-dark.svg");
  width: 30px;
  height: 30px;
  -webkit-filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(355deg) brightness(102%) contrast(101%);
          filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(355deg) brightness(102%) contrast(101%);
  -webkit-transform-origin: top left;
          transform-origin: top left;
}

#overlay .project-info {
  position: absolute;
  left: 20px;
  bottom: 15px;
  color: #fff;
  width: 70%;
}

#overlay img.listItem {
  margin: 0;
  width: 80%;
  height: auto;
  -o-object-fit: contain;
  object-fit: contain;
  padding: 5%;
}

#overlay #nextButton {
  cursor: pointer;
  color: #fff;
  font-size: 1.5em;
  -webkit-transition: opacity 0.8s;
  transition: opacity 0.8s;
  position: absolute;
  bottom: 20px;
  right: 20px;
}

#overlay #nextButton:hover {
  opacity: 0.7;
}

#overlay #prevButton {
  cursor: pointer;
  color: #fff;
  font-size: 1.5em;
  -webkit-transition: opacity 0.8s;
  transition: opacity 0.8s;
  position: absolute;
  bottom: 20px;
  right: 50px;
}

#overlay #prevButton:hover {
  opacity: 0.7;
}

#overlay #exitButton {
  cursor: pointer;
  color: #fff;
  font-size: 1.5em;
  -webkit-transition: opacity 0.8s;
  transition: opacity 0.8s;
  position: absolute;
  top: 20px;
  right: 20px;
}

#overlay #exitButton:hover {
  opacity: 0.7;
}

@media screen and (min-width: 992px) {
  .profile-header .logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    height: 44px;
    padding: 0;
  }
  .profile-header .menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .about-me {
    height: 100vh;
    padding: 15px;
    text-align: left;
  }
  .about-me .d-flex-center {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .about-me .d-flex-center div[class*="col-"]:first-child {
    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0;
  }
  .about-me .info h1 {
    margin-left: 120px;
  }
  .about-me .info h1:before {
    left: 0;
    top: initial;
    right: initial;
    margin: initial;
  }
  #bottom-drawer {
    display: none;
  }
  .filter {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  h1 {
    font-size: 40px;
  }
  .portfolio-section {
    padding: 45px 0 0;
  }
  #overlay img.listItem {
    width: 45%;
  }
  #overlay .logo {
    left: 20px;
    top: 15px;
  }
  #gallery {
    padding: 0;
  }
  #gallery #image-gallery .row .image.active {
    -ms-flex-preferred-size: 25%;
        flex-basis: 25%;
    max-width: 25%;
  }
  .footer a {
    font-size: 20px;
  }
}

@media screen and (min-width: 1200px) {
  #gallery #image-gallery .row .image.active {
    -ms-flex-preferred-size: 16.66%;
        flex-basis: 16.66%;
    max-width: 16.66%;
  }
}
/*# sourceMappingURL=style.css.map */