body {
    font-family: 'Overpass Mono', monospace;
    color: #657786;
}

.profile-header {
    background: #222529;
    color: #ffffff;
    -webkit-box-shadow: 0px 0px 5px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 0px 5px rgba(0,0,0,0.5);
    box-shadow: 0px 0px 5px rgba(0,0,0,0.5);
}

.logo {
    padding: 20px;
}

.menu {
    padding: 20px 0;
    text-align: right;
}

.menu ul li {
    display: inline-block;
    padding: 0 20px;
}

.designer img {
    height: calc(100vh - 70px);
    position: absolute;
    right: -70px;
    z-index: -1;
}

.developer img {
    height: calc(100vh - 70px);
    position: absolute;
    right: -70px;
    z-index: -1;
}

.profile-picture {

}

.about-me {
    height: calc(100vh - 70px);
}

.info {
    padding: 20px 0;
}

h1 {
    font-size: 40px;
    font-weight: 700;
    color: #222529;
}

.info p {
    font-size: 24px;
    font-weight: 300;
}

ul.skill {
    padding-left: 0;
}

ul.skill li {
    display: inline-block;
}
